NODE_ENV=development
SERVER_PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=node_base_dev

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_USERNAME =
TYPEORM_PASSWORD =
TYPEORM_DATABASE = node_base_dev
TYPEORM_AUTO_SCHEMA_SYNC = false
TYPEORM_ENTITIES = dist/models/*.js
TYPEORM_SUBSCRIBERS = dist/subscribers/*.js
TYPEORM_MIGRATIONS = dist/migrations/*.js
TYPEORM_ENTITIES_DIR = dist/models
TYPEORM_MIGRATIONS_DIR = dist/migrations
TYPEORM_SUBSCRIBERS_DIR = dist/subscribers
